body {
    height: 100vh; 
    margin: 0;   
    padding: 0;  
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover; 
    display: flex;   
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    touch-action: none;
}
  
#game-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
}

h3 {
    background-color: grey;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

#nextTitle {
    padding: 0 5px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 10px;
}

button {
    width: 90px;
    height: 70px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px grey solid;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;    
    -ms-user-select: none;     
    user-select: none;          
}

#start-pause {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

#down {
    position: relative;
    top: 15px;
}

#left {
    position: relative;
    top: 42px;
    right: 20px;
}

#right {
    position: relative;
    top: 42px;
    left: 20px
}
